.testimonials {
  padding: 6.25rem 0;
}

.testimonials h1 {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-container {
  margin-top: 3rem;
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.testimonial {
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.testimonial img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.testimonial h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.rating {
  font-size: 1em;
  color: #f39c12;
  margin: 5px 0 46px 0;
}

.testimonial p {
  font-size: 1em;
  color: #555;
}

@media (max-width: 760px) {
  .testimonial {
    min-width: 50%;
  }
}

@media (max-width: 450px) {
  .testimonial {
    min-width: 100%;
  }
}
